h1 {
  font-size: 1.2em;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}

#banner {
  color: whitesmoke;
  padding-bottom: 4px;
  background-color: rgb(133, 76, 207);
  margin-bottom: 40px;
}

#banner p {
  position: relative;
  left: 2.5%;  
}

.navDiv {
  text-align: center;
}
nav a {
  font-size: 1.35em;
  margin: 4px;
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #334953;
}
nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
nav a.active {
  color: #039be5;
}
