<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid" id=banner>
  <p class="h2" id=bannerText> <a href="/">Inspire </a><i class="far fa-lightbulb"></i></p>
  <a id="tag" href="http://github.com/ehansen247"><i class="fas fa-circle"></i>&nbsp; ehansen247</a>
</div>

<nav>
  <div class="navDiv">
    <a routerLink="/search"><i class="fas fa-search"></i> &nbsp; Search A Quote </a>
    <a routerLink="/daily"><i class="fas fa-calendar-day"></i> &nbsp; Daily Quote</a>
    <a routerLink="/create"><i class="fas fa-pencil-alt"></i> &nbsp; Write Your Own</a>
  </div>
</nav>


<router-outlet></router-outlet>
