#dailyDiv {
    background-color: whitesmoke;
    border-radius: 10px;
    margin-top: 50px;
    padding: 30px;
    width: 75%;
    word-wrap: break-word;
}

p {
    text-style: wrap
}

#footer {
    margin-top: 10px;
    text-align: center;
}